.songDetails {
  line-height: 20px;
  margin-left: 10px;
}
.songDetails a {
  color: #10b981;
  cursor: pointer;
  font-size: 14px;
}
.borderBottom{
  content: ""; /* This is necessary for the pseudo element to work. */ 
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 95%; /* Change this to whatever width you want. */
  padding-top: 10px; /* This creates some space between the element and the border. */
  border-bottom: 1px solid #c8c8c8;
}