.songDetails {
  line-height: 20px;
  margin-left: 10px;
}
.songDetails a {
  color: #049669;
  cursor: pointer;
  font-size: 14px;
}

.songDetails small {
  color: #606161;
}

.image{
  height: "40px";
  width: "40px";
  border-radius: "10px";
}
