.username{
    font-size: 20px;
    color: black;
    font-family:initial;
}

.overlay{
    position: absolute;
    top: 40%;
    left: 30%;
    width: 40%;
    height: 30%;
    border-radius: 5em !important;
    opacity: 0.6;
}
.overlay:hover{
    cursor: pointer;
  }

.card{
    position: relative;
}