.username {
  font-size: 20px;
  color: black;
  font-family: initial;
}

.overlay {
  position: absolute;
  top: 40%;
  width: 30%;
  height: 40%;
  left: 10%;
  border-radius: 5em !important;
  opacity: 0.6;
}
.overlay:hover {
  cursor: pointer;
}

.card {
  position: relative;
  border-bottom: 1px solid grey;
  margin-top: 10px;
  padding: 5px;
}

.cargImg {
  max-width: 50%;
  max-height: "30vh";
  border-radius: 10px;
}
.profileIcon {
  width: 50px;
  border-radius: 50px;
  height: 50px;
}
.author {
  line-height: 20px;
  margin-left: 10px;
}
.author a {
    color: #049669;
    cursor: pointer;
    font-size: 18px;
}

.author small {
    color: #606161;
}
