.messageBody{
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 50%;
}

.right{
    margin-left: auto;
} 

.messageBody strong {
    color: #10b981;
    cursor: pointer;
  }