.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 52.9vh;
}

.layer {
  background-image: url("../waves.svg");
}

.title{
  position: absolute;
  top: 80%;
  width: 100%;
  text-align:center;
  font-weight: 900;
  color: white;
  font-size: 4.5rem;
  line-height: 1;
}
@media screen and (max-width: 1000px) {

.title{
  font-size: 1.5rem; /* 24px */
line-height: 2rem; /* 32px */
}

}