.middlepane {
  width: 50%;
  height: 613px;
  float: left;
  border-collapse: collapse;
  padding: 1rem; 
  margin: 1rem 2rem 1rem 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: white;
  overflow-y: auto;
}
.rightpane{
  float: left;
  height: 613px;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: white;
  overflow-y: hidden;
  width: inherit;
}
@media screen and (max-width: 600px) {

  .middlepane{
    width: 92%;
    height: auto;
    justify-content: center;
    margin: 1rem;
  }
  .rightpane{
    width: 92%;
    height: auto;
    justify-content: center;
    margin: 1rem;
  }
}