
.middlepane {
  width: 45%;
  height: 80vh;
  float: left;
  border-collapse: collapse;
  padding: 1rem; 
  margin: 1rem 2rem 1rem 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
}


@media screen and (max-width: 600px) {
  
  .middlepane {
    width: 93%;
    height: auto;
    justify-content: center;
    margin: 1rem;
  }

}

