.container {
  width: 100%;
  height: 82vh;
  background-color: #10b981 !important;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.typeahead{
  position: absolute;
}
.leftpane,
.rightpane {
  width: 25%;
  height: 100%;
  background-color: #10b981 !important;
}

.leftpane{
  float: left;
}

.rightpane{
  float: left;
}

.middlepane {
  width: 45%;
  height: 613px;
  float: left;
  border-collapse: collapse;
  padding: 1rem; 
  margin: 1rem 2rem 1rem 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: white;
  /* overflow: hidden; */
}
.splitScreen {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: -webkit-fill-available;

}

.topPane{
  height: 48vh !important;
}
.bottomPane {
  height: 25vh !important;
}

.topPane,
.bottomPane {
  background-color: #ffff;
  margin: 10px;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: white;
  overflow-y: auto;
  width: inherit;
}

@media screen and (max-width: 600px) {

  .container {
    height: 100%;
    flex-direction: column;
    overflow-y: auto;
    margin-bottom: 70px;
  }

  .leftpane,
  .rightpane {
    width: 100%;
  }
  
  .leftpane{
    justify-content: center;
  }
  
  .rightpane{
    justify-content: center;
  }
  
  .middlepane {
    width: 92%;
    height: auto;
    justify-content: center;
    margin: 1rem;
  }

}