.WaveformContianer{
  display: flex;  
  flex-direction: row;  
  align-items: center;
  justify-content: center;
  height: 30px; 
  width: 100%;
  background: transparent;
}

.Wave{
  width: 100%;
  height: 55px;
}

.PlayButton{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background: #EFEFEF;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  padding-bottom: 3px;
  /* &:hover {
    background: '#DDD';
  } */
}