*{
  margin: 0;
}

/* body {
  font-size: 24px;
} */

html{

  scrollbar-color: #6969dd #e0e0e0;
  scrollbar-width: thin;
}

h2 {
  font-size: 24px;
  color: rgba(160, 157, 157);
}

#drum-machine {
  margin: 0px;
  /* height: 30vh; */
  /* display: flex; */
  /* align-items: center; */
  /* flex-direction: column; */
  /* justify-content: center; */
}

.wrapper {
     /* max-width: 400px; */
      /* width: 40%; */
      display: flex;
      /* background: #111; */
      margin-left: 10px;
      margin-right: 10px;
      padding: 15px;
      border-radius: 5px;
      box-shadow: 5px 5px 8px 3px ;
      /* rgb(19, 138, 9) */
}

.keyboard {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
}

.outer-drum-pad {
  width: 50px;
  height: 50px;
  background: #1ec8ce;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
}

.keyboard .outer-drum-pad .drum-pad {
   width: 97%;
   height: 97%;
   background: radial-gradient(#333, #070707);
   border-radius: 47%;
   text-align: center;
   vertical-align: middle;
   /* line-height: 120px; */
   font-size: 24px;
   color: rgb(255, 255, 255,0);
   cursor: pointer;
   &:hover {
     color: rgba(255, 255, 255, 1);
   };
   background-color: rgb(255, 255, 255);
   color: rgb(120, 120, 120);
}

@media(min-width: 768px){
  .wrapper {
      /* width: 680px; */
  }
}

.drum-pad .letter {

}

@media(min-width: 992px){
  .wrapper {
     grid-template-columns: 1fr 1fr;
  }
}

.controle {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.controle > button,
.controle > input,
.controle > h2{
  margin-bottom: 5px
}

.controle button{
  border: none;
  color: #7a7474;
  cursor: pointer;
  font-size: 20px;
  padding: 8px 10px;
  border-radius: 5px;
  background-color: #000000;
}